body{
  background-color:aqua;
}
.learn{
  width:30%;
  height:100%;
  border:none;
  background-color:aqua;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:25px;
  padding:90px 40px;
  border-radius:16px;
  box-shadow:0px 0px 20px 0px #000;
}
h5{
  font-size:33px;
}
#con{
  padding:12px;
  margin-top:69px;
  width:50%;
}
#con:hover{
  background-color:#34495e;
  color:#e74c3c;
}
#sideOne, #sideTwo, #sideThree{
  padding:12px;
  color:red;
  margin-bottom:6px;
  background-color:aqua;
}
